<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>675537607163-vm3ka3k3b0bjqod2e9qdp4o82fuaeqfo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.675537607163-vm3ka3k3b0bjqod2e9qdp4o82fuaeqfo</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>675537607163-ipduhqadcnn37335vpdltc1vgq4e5dem.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyD2aKdCDCv4qyQ9h3qW8r1aQM-L3v_xjCg</string>
	<key>GCM_SENDER_ID</key>
	<string>675537607163</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.kariCareFlutter</string>
	<key>PROJECT_ID</key>
	<string>kari-care-ios</string>
	<key>STORAGE_BUCKET</key>
	<string>kari-care-ios.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:675537607163:ios:4b48a4ec3da5b782e0135e</string>
</dict>
</plist>